<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/data%2Fhousehold_pulse/Compile_household.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd
import glob
import re
import numpy as no
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
files = glob.glob(f"/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse*.csv") 
excel_files = glob.glob(f"/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/*.xlsx")

In [9]:
files

['/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_36.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_35.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_34.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_33.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_32.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_31.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_30.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_29.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_28.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_27.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_26.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_25.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_24.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_23.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_22.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_21.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_20.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_19.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_18.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_17.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_16.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_15.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_14.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_13.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_12.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_11.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_10.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_09.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_08.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_07.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_06.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_05.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_04.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_03.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_02.csv',
 '/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2020_puf_01.csv']

In [6]:
state_number_ref= {
    '01':'Alabama',
    '02':'Alaska',
    '04':'Arizona',
    '05':'Arkansas',
    '06':'California',
    '08':'Colorado',
    '09':'Connecticut',
    '10':'Delaware',
    '11':'District of Columbia',
    '12':'Florida',
    '13':'Georgia',
    '15':'Hawaii',
    '16':'Idaho',
    '17':'Illinois',
    '18':'Indiana',
    '19':'Iowa',
    '20':'Kansas',
    '21':'Kentucky',
    '22':'Louisiana',
    '23':'Maine',
    '24':'Maryland',
    '25':'Massachusetts',
    '26':'Michigan',
    '27':'Minnesota',
    '28':'Mississippi',
    '29':'Missouri',
    '30':'Montana',
    '31':'Nebraska',
    '32':'Nevada',
    '33':'New Hampshire',
    '34':'New Jersey',
    '35':'New Mexico',
    '36':'New York',
    '37':'North Carolina',
    '38':'North Dakota',
    '39':'Ohio',
    '40':'Oklahoma',
    '41':'Oregon',
    '42':'Pennsylvania',
    '44':'Rhode Island',
    '45':'South Carolina',
    '46':'South Dakota',
    '47':'Tennessee',
    '48':'Texas',
    '49':'Utah',
    '50':'Vermont',
    '51':'Virginia',
    '53':'Washington',
    '54':'West Virginia',
    '55':'Wisconsin',
    '56':'Wyoming'
}

In [10]:
files[0]

'/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/pulse2021_puf_36.csv'

In [11]:
df= pd.read_csv(files[0])

In [12]:
df.head()

                       SCRAM  WEEK  EST_ST  ...  PSWHYCHG8  PSWHYCHG9  INCOME
0  V360000001S30010264000112    36       1  ...        -88        -88     -88
1  V360000001S30011372510122    36       1  ...        -88        -88       2
2  V360000001S30011968410122    36       1  ...        -88        -88       5
3  V360000001S32011392710122    36       1  ...        -88        -88       4
4  V360000001S37010583600122    36       1  ...        -88        -88       3

[5 rows x 202 columns]

In [33]:
df.columns[:28]

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'HWEIGHT', 'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC', 'AHISPANIC', 'RRACE',
       'ARACE', 'EEDUC', 'AEDUC', 'MS', 'EGENID_BIRTH', 'AGENID_BIRTH',
       'GENID_DESCRIBE', 'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'AHHLD_NUMPER',
       'THHLD_NUMKID', 'AHHLD_NUMKID', 'THHLD_NUMADLT', 'KIDS_LT5Y',
       'KIDS_5_11Y', 'KIDS_12_17Y'],
      dtype='object')

In [44]:
basic_col = ['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA',   'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC', 'AHISPANIC', 'RRACE',
       'ARACE', 'EEDUC', 'AEDUC']
      #  ['HWEIGHT','REGION',]

In [43]:
col_to_use = ['CURFOODSUF', 'FREEFOOD', 'MORTCONF', ] #'EXPNS_DIF', 'EVICT', 
# ['CHLDCARE','FOODRSNRV1','FOODRSNRV2','FOODRSNRV3','FOODRSNRV4']

In [45]:
col_to_use = basic_col + col_to_use

In [47]:
combined_household_select_features = pd.DataFrame()

for file_name in files:
  df = pd.read_csv(file_name, usecols = col_to_use)
  combined_household_select_features = pd.concat([combined_household_select_features, df])

In [48]:
combined_household_select_features.shape

(2951272, 16)

In [49]:
combined_household_select_features.head()

                       SCRAM  WEEK  EST_ST  ...  CURFOODSUF  FREEFOOD  MORTCONF
0  V360000001S30010264000112    36       1  ...         -88       -88       -88
1  V360000001S30011372510122    36       1  ...           1         2         3
2  V360000001S30011968410122    36       1  ...           1         2         4
3  V360000001S32011392710122    36       1  ...           1         1         4
4  V360000001S37010583600122    36       1  ...           1         2         2

[5 rows x 16 columns]

In [ ]:
combined_household_select_features.to_csv('/content/drive/MyDrive/Group 9 Project Documents/Datasets/household_pulse/combined_household.csv', index= False)