<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/merge_datasets/merge_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Datasets

Here we will joined the cleaned datasets for:
- Small Business Pulse Survey
- Household Pulse Survey
- Unemployment Rate

Datasets will be joined on date and state.

#Setup

**Mount Google Drive**

To have access to the shared group 9 project folder, first create a shortcut to it in your drive. Then run the cell below to mount your google drive and follow the prompt to get the code.

In [2]:
# Mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [20]:
# Imports
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import numpy as np
import pandas as pd
import time

In [4]:
root_path = '/content/gdrive/MyDrive/team_9/Datasets/'

## Import States Key

Keys to help with merging

In [58]:
states = pd.read_csv(root_path + 'state_key.csv', dtype={"ps_id":str})
state_key = {key:value for (key,value) in zip(states.ps_id,states.abrv)}

In [59]:
h_ind = ['STATE_ABBR',
 'YEAR',
 'MONTH',
 'AGE_GRP_18_24',
 'AGE_GRP_25_39',
 'AGE_GRP_40_49',
 'AGE_GRP_50_59',
 'AGE_GRP_60_69',
 'AGE_GRP_70_up',
 'AGE_GRP_less_18',
 'COVID_VACC_DOSE_not_plan_all_dose',
 'COVID_VACC_DOSE_plan_to_receive_all_doses',
 'COVID_VACC_DOSE_received_all_doses',
 'EDUCATION_bachelor_or_higher',
 'EDUCATION_high_school_diploma_GED',
 'EDUCATION_less_high school',
 'EDUCATION_some_college_asscte_degree',
 'INCOME_BEFORE_TAX_$100,000_$149,999',
 'INCOME_BEFORE_TAX_$150,000_$199,999',
 'INCOME_BEFORE_TAX_$200,000_above',
 'INCOME_BEFORE_TAX_$25,000_$34,999',
 'INCOME_BEFORE_TAX_$35,000_$49,999',
 'INCOME_BEFORE_TAX_$50,000_$74,999',
 'INCOME_BEFORE_TAX_$75,000_$99,999',
 'INCOME_BEFORE_TAX_Less_$25,000',
 'RACE_Any_other_race_alone_or_mixed_race',
 'RACE_Asian,_alone',
 'RACE_Black_alone',
 'RACE_White_alone',
 'FOOD_SCARCITY',
 'HOUSING_INSECURITY',
 'MALE',
 'FEMALE',
 'HISPANIC_ORIGIN',
 'RECVD_COVID_VACC',
 'CHILDCARE_ISSUE',
 ]

In [60]:
s_ind = ['STATE_ABBR',
 'YEAR',
 'MONTH',
 'Expected recovery index',
 'Financial stress index',
 'Market challenges index',
 'Market(s) challenges index',
 'Operational challenges index',
 'Overall sentiment index',
]

# Import the three datasets

In [61]:
sbps = pd.read_csv(root_path + 'cleaned_datasets/sbps_agg_month.csv')
sbps = sbps.rename(columns = {'ST': "STATE_ABBR", "DATE_START": "DATE"})
sbps['DATE'] = pd.to_datetime(sbps.DATE)
sbps['MONTH'] = sbps['DATE'].dt.month
sbps['YEAR'] = sbps['DATE'].dt.year
sbps = sbps.reindex(columns= s_ind)
sbps.head()

  STATE_ABBR  YEAR  ...  Operational challenges index  Overall sentiment index
0         AK  2020  ...                     -0.390000                -0.660000
1         AK  2020  ...                     -0.266000                -0.646000
2         AK  2020  ...                     -0.216667                -0.553333
3         AK  2020  ...                     -0.187500                -0.575000
4         AK  2020  ...                     -0.210000                -0.507500

[5 rows x 9 columns]

In [62]:
hps = pd.read_csv(root_path + 'cleaned_datasets/hps_state_agg.csv')
hps = hps.drop(columns = ['STATE', 'EST_ST'])
hps = hps.reindex(columns = h_ind)
hps.head()

  STATE_ABBR  YEAR  MONTH  ...  HISPANIC_ORIGIN  RECVD_COVID_VACC  CHILDCARE_ISSUE
0         AL  2020      4  ...         3.998505               NaN              NaN
1         AL  2020      5  ...         4.456569               NaN              NaN
2         AL  2020      6  ...         5.964231               NaN              NaN
3         AL  2020      7  ...         3.447678               NaN              NaN
4         AL  2020      8  ...         3.432908               NaN              NaN

[5 rows x 36 columns]

In [63]:
unemp = pd.read_csv(root_path + 'cleaned_datasets/unemployment_cleaned.csv')
unemp = unemp.rename(columns = {'state':'STATE_ABBR','date':'DATE'})
unemp['DATE'] = pd.to_datetime(unemp.DATE)
unemp['MONTH'] = unemp['DATE'].dt.month
unemp['YEAR'] = unemp['DATE'].dt.year
unemp = unemp.reindex(columns = ['STATE_ABBR', 'YEAR', 'MONTH', 'unemployment_rate'])
unemp.head()

  STATE_ABBR  YEAR  MONTH  unemployment_rate
0         AL  2020      1                3.1
1         AK  2020      1                5.4
2         AZ  2020      1                4.8
3         AR  2020      1                4.2
4         CA  2020      1                4.5

In [64]:
df = hps.merge(sbps, on = ['STATE_ABBR', 'YEAR', 'MONTH']).merge(unemp, on = ['STATE_ABBR', 'YEAR', 'MONTH'])

Check the data before saving

In [66]:
df.columns.to_list()

['STATE_ABBR',
 'YEAR',
 'MONTH',
 'AGE_GRP_18_24',
 'AGE_GRP_25_39',
 'AGE_GRP_40_49',
 'AGE_GRP_50_59',
 'AGE_GRP_60_69',
 'AGE_GRP_70_up',
 'AGE_GRP_less_18',
 'COVID_VACC_DOSE_not_plan_all_dose',
 'COVID_VACC_DOSE_plan_to_receive_all_doses',
 'COVID_VACC_DOSE_received_all_doses',
 'EDUCATION_bachelor_or_higher',
 'EDUCATION_high_school_diploma_GED',
 'EDUCATION_less_high school',
 'EDUCATION_some_college_asscte_degree',
 'INCOME_BEFORE_TAX_$100,000_$149,999',
 'INCOME_BEFORE_TAX_$150,000_$199,999',
 'INCOME_BEFORE_TAX_$200,000_above',
 'INCOME_BEFORE_TAX_$25,000_$34,999',
 'INCOME_BEFORE_TAX_$35,000_$49,999',
 'INCOME_BEFORE_TAX_$50,000_$74,999',
 'INCOME_BEFORE_TAX_$75,000_$99,999',
 'INCOME_BEFORE_TAX_Less_$25,000',
 'RACE_Any_other_race_alone_or_mixed_race',
 'RACE_Asian,_alone',
 'RACE_Black_alone',
 'RACE_White_alone',
 'FOOD_SCARCITY',
 'HOUSING_INSECURITY',
 'MALE',
 'FEMALE',
 'HISPANIC_ORIGIN',
 'RECVD_COVID_VACC',
 'CHILDCARE_ISSUE',
 'Expected recovery index',
 'Financial stress index',
 'Market challenges index',
 'Market(s) challenges index',
 'Operational challenges index',
 'Overall sentiment index',
 'unemployment_rate']

Definitely some formatting and feature engineering to do!

In [67]:
df.describe()

              YEAR       MONTH  ...  Overall sentiment index  unemployment_rate
count   800.000000  800.000000  ...               800.000000         800.000000
mean   2020.500000    6.312500  ...                -0.464798           6.894250
std       0.500313    3.098685  ...                 0.096176           3.381943
min    2020.000000    1.000000  ...                -0.770000           1.800000
25%    2020.000000    4.000000  ...                -0.515000           4.600000
50%    2020.500000    6.000000  ...                -0.450000           6.200000
75%    2021.000000    8.250000  ...                -0.396000           8.000000
max    2021.000000   12.000000  ...                -0.223333          29.700000

[8 rows x 42 columns]

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 43 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   STATE_ABBR                                 800 non-null    object
 1   YEAR                                       800 non-null    int64
 2   MONTH                                      800 non-null    int64
 3   AGE_GRP_18_24                              800 non-null    float64
 4   AGE_GRP_25_39                              800 non-null    float64
 5   AGE_GRP_40_49                              800 non-null    float64
 6   AGE_GRP_50_59                              800 non-null    float64
 7   AGE_GRP_60_69                              800 non-null    float64
 8   AGE_GRP_70_up                              800 non-null    float64
 9   AGE_GRP_less_18                            800 non-null    float64
 10  COVID_VACC_DOSE_not_plan_all_dose          800 non-null    float64
 11  COVID_VACC_DOSE_plan_to_receive_all_doses  800 non-null    float64
 12  COVID_VACC_DOSE_received_all_doses         800 non-null    float64
 13  EDUCATION_bachelor_or_higher               800 non-null    float64
 14  EDUCATION_high_school_diploma_GED          800 non-null    float64
 15  EDUCATION_less_high school                 800 non-null    float64
 16  EDUCATION_some_college_asscte_degree       800 non-null    float64
 17  INCOME_BEFORE_TAX_$100,000_$149,999        800 non-null    float64
 18  INCOME_BEFORE_TAX_$150,000_$199,999        800 non-null    float64
 19  INCOME_BEFORE_TAX_$200,000_above           800 non-null    float64
 20  INCOME_BEFORE_TAX_$25,000_$34,999          800 non-null    float64
 21  INCOME_BEFORE_TAX_$35,000_$49,999          800 non-null    float64
 22  INCOME_BEFORE_TAX_$50,000_$74,999          800 non-null    float64
 23  INCOME_BEFORE_TAX_$75,000_$99,999          800 non-null    float64
 24  INCOME_BEFORE_TAX_Less_$25,000             800 non-null    float64
 25  RACE_Any_other_race_alone_or_mixed_race    800 non-null    float64
 26  RACE_Asian,_alone                          800 non-null    float64
 27  RACE_Black_alone                           800 non-null    float64
 28  RACE_White_alone                           800 non-null    float64
 29  FOOD_SCARCITY                              800 non-null    float64
 30  HOUSING_INSECURITY                         800 non-null    float64
 31  MALE                                       800 non-null    float64
 32  FEMALE                                     800 non-null    float64
 33  HISPANIC_ORIGIN                            800 non-null    float64
 34  RECVD_COVID_VACC                           400 non-null    float64
 35  CHILDCARE_ISSUE                            250 non-null    float64
 36  Expected recovery index                    800 non-null    float64
 37  Financial stress index                     450 non-null    float64
 38  Market challenges index                    50 non-null     float64
 39  Market(s) challenges index                 50 non-null     float64
 40  Operational challenges index               800 non-null    float64
 41  Overall sentiment index                    800 non-null    float64
 42  unemployment_rate                          800 non-null    float64
dtypes: float64(40), int64(2), object(1)
memory usage: 275.0+ KB

In [69]:
df.to_csv(root_path + "hps_sbps_unemp_merged.csv")